<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/vendor/bootstrap.css">
	<script src="/static/vendor/jquery.js"></script>
	<script src="/static/vendor/bootstrap.js"></script>
	<script src="/static/vendor/bootstrap.bundle.js"></script>
</head>
<body>
	<div class="container">
		<div class="m-1">
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block script %}{% endblock %}
</body>
</html>